/*--------------------------------------------------------------
Navigation
--------------------------------------------------------------*/


.nav-wrapper {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid hsl(0, 5%, 5%);
  display: flex;
}

.nav-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #0298F5;
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.brand-logo {
  font-size: 1.8em;
  font-weight: bold;
  text-decoration: none;
  background: #0298F5;
  color: white;
  padding: .6em 1em;
}

.nav-wrapper li a {
  display: block;
  font-size: 1.5em;
  text-decoration: none;
  color: white;
  padding: .8em 1em;
}

.nav-wrapper li a:hover {
  background: white;
  color: #0298F5;
}

@media screen and (min-width: 55em) {
  .button-collapse {
    display: none;
  }
}


@media screen and (max-width: 55em) {
  .button-collapse {
    display: block;
    background-color: #0298F5;
    color: white;
    padding: 1em 1em;
  }

  .nav-wrapper ul {
    flex-direction: column;
    display: none;
  }

  .brand-logo {
    flex: 1;
    text-align: center;
    padding-left: 2em;
  }

}

