/*--------------------------------------------------------------
Navigation
--------------------------------------------------------------*/

.nav-wrapper {
  padding-bottom: 0em;
  margin-bottom: 0;
  // border-bottom: 1px solid black;
  background: coral;
}

.nav-wrapper ul, .mobile {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
  // display: inline-block;
}

.mobile li a {
  background-color: coral;
  display: block;
  text-decoration: none;
  font-size: 1.3em;
  color: white;
  padding: .6em 1em;
  text-align: center;
}

.brand-logo {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  padding: 1em;
}

.button-collapse {
  color: white;
  padding: 1.3em;
}


@keyframes hide {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-150%);
    opacity: 0;
  }
}

.hide {
  opacity: 0;
  animation: hide 2s ease-out 1 both;
  position: absolute;
  width: 100%;
}

@keyframes show {
  0% {
    transform: translateY(-150%);
  }

  100% {
    transform: translateY(0);
  }
}
.show {
  display: block;
  animation: show .5s ease-in 1 forwards;
  position: fixed;
  width: 100%;
}

/*--------------------------------------------------------------
FLEX-Settings
--------------------------------------------------------------*/
.nav-wrapper {
  display: flex;
  justify-content: space-between;
}
.full {
  display: none;
}


