.row {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}
.card {
  flex: 1 1 40%;
  margin: .5em;
  padding: 1.5em 1em;
  line-height: 2.4rem;
  font-size: 1.3em;
  padding-top: .5rem;
  min-width: 400px;
}
.card .card-content {
  padding-top: 0;
}

.card .card-title {
  font-weight: 500;
}

.stars {
  display: flex;
  justify-content: space-between;
}
.card hr {
  margin-top: 0;
}

.card .collapsible {
  margin-top: 1.5rem;
}

.info {
  display: flex;
  justify-content: space-between;
}
