.row {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}
.card {
  min-width: 350px;
  flex: 1 1 45%;
  margin: .5em;

}
.card .card-content {
  padding-top: 0;
}

.card .card-title {
  font-weight: 500;
}
